@use '@angular/material' as mat;
@use '@angular/material/core/theming/palette' as palette;


@include mat.core();


$palette: (
  50: #1a237e,
  100: #303f9f,
  200: #3f51b5,
  300: #5c6bc0,
  400: #7986cb,
  500: #000000,
  600: #a7b7d9,
  700: #9e9e9e,
  800: #607d8b,
  900: #212121,
  A100: #ffcc00,
  A200: #d32f2f,
  A400: #f4dc42,
  A700: #b71c1c,
  contrast: (
    50: palette.$dark-primary-text,
    100: palette.$dark-primary-text,
    200: palette.$dark-primary-text,
    300: palette.$light-primary-text,
    400: palette.$light-primary-text,
    500: palette.$light-primary-text,
    600: palette.$dark-primary-text,
    700: palette.$light-primary-text,
    800: palette.$light-primary-text,
    900: palette.$light-primary-text,
    A100: palette.$dark-primary-text,
    A200: palette.$dark-primary-text,
    A400: palette.$dark-primary-text,
    A700: palette.$dark-primary-text,
  )
);
